data:
  train_csv: '/data/pathology/projects/ais-cap/code/git/clemsgrs/hipt/data/debug/classification/train.csv'
  tune_csv: '/data/pathology/projects/ais-cap/code/git/clemsgrs/hipt/data/debug/classification/train.csv'
  test_csv:

features_root_dir: '/data/pathology/projects/ais-cap/code/git/clemsgrs/hipt/output/panda/feature_extraction/rqvqzwur'
output_dir: 'output'
experiment_name: 'debug'
level: 'global'

task: 'classification'
loss: 'ce'
loss_options:
  num_classes: ${num_classes}

nepochs: 2
num_classes: 6
label_name: 'isup_grade'
# label_mapping: {0: 0, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1}
label_mapping:
label_encoding:

training:
  batch_size: 1
  pct:
  weighted_sampling: False
  gradient_accumulation: 32

augmentation:
  use: True
  name: 'random'
  kwargs:
    - gamma: 0.5
    - mean: 0.
    - std: 1.

tuning:
  batch_size: 1
  tune_every: 1

testing:
  retrieve_checkpoint: 'best'

model:
  embed_dim_patch: 384
  pretrain_vit_patch: 'checkpoints/vit_256_small_dino.pth'
  freeze_vit_patch: True
  freeze_vit_patch_pos_embed: True
  embed_dim_region: 192
  pretrain_vit_region: 'checkpoints/vit_4096_xs_dino.pth'
  freeze_vit_region: True
  freeze_vit_region_pos_embed: True
  region_size: 4096
  patch_size: 256
  mini_patch_size: 16
  dropout: 0.25
  agg_method: 'concat'
  slide_pos_embed:
    use: False
    learned: False
    type: '1d'
    max_seq_len: 512

optim:
  name: 'adam'
  lr: 2e-4
  wd: 1e-5
  lr_scheduler:
    name: 'step'
    step_size: 50
    gamma: 0.5

early_stopping:
  enable: False
  tracking: 'loss'
  min_max: 'min'
  patience: 10
  min_epoch: 30
  save_all: False

speed:
  num_workers: 0

wandb:
  enable: False
  project: 'hipt'
  username: 'clemsg'
  exp_name: '${experiment_name}'
  tags:
  dir: '/home/user'
  to_log:
    - 'train': ['loss', 'auc', 'kappa', 'cm']
    - 'tune': ['loss', 'auc', 'kappa', 'cm']
    - 'test': ['auc', 'kappa']
  group:
  resume_id:

hydra:
  run:
    dir: /tmp/hydra_output