defaults:
  - single
  - _self_

data:
  train_csv: '/data/pathology/projects/ais-cap/dataset/panda/5-fold_cleaned/fold_0/train.csv'
  tune_csv: '/data/pathology/projects/ais-cap/dataset/panda/5-fold_cleaned/fold_0/tune.csv'
  test_csv:

region_dir: '/data/pathology/projects/ais-cap/dataset/panda/hs2p/patches/otsu/${model.region_size}/${region_fmt}'
output_dir: '/data/pathology/projects/ais-cap/code/git/clemsgrs/hipt/output/panda'
experiment_name: 'classification'
level: 'region'

M_max: 82
region_fmt: 'jpg'

task: 'classification'
loss: 'ce'

nepochs: 200
num_classes: 6
label_name: 'isup_grade'
label_mapping:
label_encoding:

testing:
  retrieve_checkpoint: 'best'

model:
  # pretrain_vit_patch: '/data/pathology/projects/ais-cap/dataset/panda/hipt/dino/vit_256_small_dino.pt'
  pretrain_vit_patch: '/data/pathology/projects/ais-cap/dataset/panda/hipt/dino/5-fold/vit_256_small_dino_fold_0.pt'
  freeze_vit_patch: False
  freeze_vit_patch_pos_embed: False
  pretrain_vit_region:
  # pretrain_vit_region: '/data/pathology/projects/ais-cap/dataset/panda/hipt/dino/vit_${model.region_size}_xs_dino.pt'
  freeze_vit_region: False
  freeze_vit_region_pos_embed: False
  region_size: 1024
  agg_method: 'concat'
  slide_pos_embed:
    use: False
    learned: False
    type: '1d'
    max_seq_len: 512

early_stopping:
  enable: True
  tracking: 'loss'
  min_max: 'min'
  patience: 20
  min_epoch: 50
  save_all: False

wandb:
  enable: True
  tags: ['panda', '${level}', '${loss}', '${model.region_size}']