h5py
numpy
pandas
pillow
gdown
plotly
einops
webdataset
matplotlib
torch
torchvision
lifelines
scikit-learn
scikit-survival
tqdm
wholeslidedata
seaborn==0.12.0
hydra-core==1.2.0
opencv-python==4.4.0.46
