region_dir: '/data/pathology/projects/ais-cap/code/git/clemsgrs/hs2p/output/tcga_brca_survival_debug/patches/'

csv:
patch_dir:
backend: "asap"

output_dir: 'output/tcga_brca_survival_debug'
experiment_name: 'feature_extraction'
resume: False
resume_id:

slide_list:

region_size: 4096
patch_size: 256
mini_patch_size: 16

format: 'jpg'
level: 'global'
save_region_features: False
num_workers: 4

pretrain_vit_patch: 'checkpoints/vit_256_small_dino.pth'
pretrain_vit_region: 'checkpoints/vit_4096_xs_dino.pth'
img_size_pretrained:

wandb:
  enable: False
  project: 'hipt'
  username: 'clemsg'
  exp_name: '${experiment_name}'
  tags:
  dir: '/home/user/'
  group:

hydra:
  run:
    dir: /tmp/hydra_output