model_id: "fl8qnilb"

csv: "/data/temporary/clement/code/hipt/data/contribution-scores.csv"
# csv: "/data/temporary/clement/code/hipt/data/contribution-scores-small.csv"

output_dir: "output/contribution-maps/${model_id}"

fold: 4
level: "local"

encoder:
  name: "virchow2"
  level: "${level}"
  arch:
  pretrained_weights:
  batch_size: 1
  mask_attn: false

aggregator:
  name: "hvit"
  level: "${level}"
  region_size: 2048
  patch_size: 256
  mask_attn: false
  num_classes: 4
  pretrained_weights: "/data/temporary/clement/leopard/baseline/survival-multi/${model_id}/checkpoints/fold_${fold}/best.pt"

display: false # whether to display stitched heatmaps from multiple attention heads side by side
downscale: 1
threshold:
highlight:
opacity: 0.7 # set opacity for non-tissue content on stitched heatmap
restrict_to_tissue: true
font_fp: "/data/temporary/clement/code/hipt/montserrat.ttf"

granularity:
  patch: false
  region: false
  slide: false
  offset:
    patch: 16
    region: 128
    slide: 128

wandb:
  enable: false
