test_csv:
blinded: False

features_root_dir:
output_dir: 'output/debug'
experiment_name: 'inference'
level: 'global'

task: 'classification'
loss: 'ce'

num_classes: 2
label_name: 'label'
label_mapping:
label_encoding:

# required when model.mask_attn_patch is True or model.mask_attn_region is True
region_dir: ''
spacing: 0.5
backend: 'asap'
region_format: 'jpg'
tissue_pct: 0.0
seg_params:
  downsample: 16 # find the closest downsample level in the WSI for tissue segmentation computation
  sthresh: 8 # segmentation threshold (positive integer, using a higher threshold leads to less foreground and more background detection) (not used when use_otsu=True)
  mthresh: 7 # median filter size (positive, odd integer)
  close: 4 # additional morphological closing to apply following initial thresholding (positive integer)
  use_otsu: False # use otsu's method instead of simple binary thresholding
  tissue_pixel_value: 2 # value of tissue pixel in pre-computed segmentation masks

model:
  checkpoint:
  dropout: 0.25
  embed_dim_patch: 384
  embed_dim_region: 192
  embed_dim_slide: 192
  region_size: 4096
  patch_size: 256
  mini_patch_size: 16
  pretrain_vit_patch:
  freeze_vit_patch: True
  freeze_vit_patch_pos_embed: True
  mask_attn_patch: False
  pretrain_vit_region:
  img_size_pretrained: ${model.region_size}
  freeze_vit_region: True
  freeze_vit_region_pos_embed: True
  mask_attn_region: False
  agg_method: 'concat'
  slide_pos_embed:
    use: False
    learned:
    type:
    max_seq_len:
    max_nslide:
    tile_size:


speed:
  num_workers: 8

wandb:
  enable: False
  project: 'hipt'
  username: 'clemsg'
  exp_name: '${experiment_name}'
  tags:
  dir: '/home/user'
  to_log:
    - 'test': ['auc', 'kappa', 'cm']
  group:
  resume_id:

hydra:
  run:
    dir: /tmp/hydra_output