data:
  fold_dir: '/home/user/dataset/tcga/brca/survival/5fold-cv/fold_0'

features_dir: 'output/tcga_brca_all_slides/features/global'
output_dir: 'output'
experiment_name: 'tcga_brca_survival'
level: 'global'

nepochs: 50
label_name: 'survival_months'
label_mapping:
label_encoding:
nbins: 4

task: 'survival'
loss:

training:
  batch_size: 1
  pct:
  weighted_sampling: False
  gradient_accumulation: 32

tuning:
  batch_size: 1
  tune_every: 1

testing:
  run_testing: True
  retrieve_checkpoint: 'latest'

model:
  embed_dim_patch: 384
  pretrain_vit_patch: 'checkpoints/vit_256_small_dino.pth'
  freeze_vit_patch: True
  freeze_vit_patch_pos_embed: True
  mask_attn_patch: False
  embed_dim_region: 192
  pretrain_vit_region: 'checkpoints/vit_4096_xs_dino.pth'
  img_size_pretrained:
  freeze_vit_region: True
  freeze_vit_region_pos_embed: True
  mask_attn_region: False
  region_size: 4096
  patch_size: 256
  mini_patch_size: 16
  dropout: 0.25
  agg_method: 'concat'
  slide_pos_embed:
    use: False
    learned: False
    type: '1d'
    max_seq_len: 512
    max_nslide: 30
    tile_size: ${model.region_size}

optim:
  name: 'adam'
  lr: 2e-4
  wd: 1e-5
  lr_scheduler:
    name: 'step'
    step_size: 50
    gamma: 0.5

early_stopping:
  enable: False
  tracking: 'loss'
  min_max: 'min'
  patience: 10
  min_epoch: 30
  save_all: False

speed:
  num_workers: 8

wandb:
  enable: True
  project: 'hipt'
  username: 'clemsg'
  exp_name: '${experiment_name}'
  tags:
  dir: '/home/user'
  group:
  resume_id:
  to_log:
    - 'train': ['loss', 'c-index']
    - 'tune': ['loss', 'c-index']
    - 'test': ['c-index']

hydra:
  run:
    dir: /tmp/hydra_output